body {
  margin: 0px;
  font-family: sans-serif;
  background-color: #ffffff;
  background-image: url(images/board.jfif);
  image-resolution: inherit;
}
h1 {
  color: #fff;
  font-style: oblique;
}
h3 {
  text-align: center;
  font-size: 30px;
  margin: 0px;
  padding-top: 10px;
}
a {
  text-decoration: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.content {
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.25);

  transition: 0.2s;
  background: #f1f0f0;
}
.content:hover {
  background-color: rgb(255, 251, 226);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -18px);
  border-style: solid;
  border-color: #ff9f43;
}
.thirty {
  color: #ffc400;
}
img {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
p {
  text-align: center;
  color: #b2bec3;
  padding-top: 0 8px;
}
h6 {
  font-size: 26px;
  text-align: center;
  color: #222f3e;
  margin: 0;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
li {
  padding: 5px;
}
.fa {
  font-size: 26px;
}
.checked {
  color: #ff9f43;
}

button {
  text-align: center;
  font-size: 24px;
  color: #fff;
  width: 100%;
  padding: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.buy-1:hover {
  background-color: #10c045;
}
.buy-2:hover {
  background-color: #10c045;
}
.buy-3:hover {
  background-color: #10c045;
}
.buy-4:hover {
  background-color: #10c045;
}
.buy-1 {
  background: #2183a2;
}
.buy-2 {
  background: #3b3e6e;
}

.buy-3 {
  background: #0b0b0b;
}

.buy-4 {
  background: #ff9f43;
}
footer p:hover {
  color: #ffc400;
}

footer p {
  color: #faf7f7;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
}
@media (max-width: 1000px) {
  .content {
    width: 45%;
  }
}
@media (max-width: 750px) {
  .content {
    width: 100%;
  }
}
